Package: com.bd452.libpass
Name: libPassword
Depends: mobilesubstrate
Version: 1.5.0-123
Architecture: iphoneos-arm
Description: Library for the iOS Passcode
Maintainer: bd452
Author: bd452
Section: System
Installed-Size: 816
