Package: com.bd452.libpass
Name: libPassword
Depends: mobilesubstrate
Version: 2.0.2
Architecture: iphoneos-arm
Description: Library for the iOS Passcode
Maintainer: bd452
Author: bd452
Section: System
